pre {
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 0;

  // Required for "position: absolute" of the copy button and the language name.
  position: relative;

  @import 'components/_code_block_highlighting';

  & > code {
    // Required because "code" is usually an inline element - which can't have a "width" element.
    display: block;
    // IMPORTANT: Without this, "overflow: auto" won't cause any scrolling.
    width: 100%;
    // IMPORTANT: This must be defined here (rather than on the outer pre element) because otherwise:
    // 1. it would hide the tooltip from the copy button.
    // 2. the copy button would not stay in place when scrolling horizontally.
    overflow: auto;
    // NOTE: Especially the bottom padding is necessary when there is a horizontal scroll bar (which
    //   otherwise would overlap the content).
    padding: 1em;

    border-radius: $block-border-radius;

    // Displays the language of the code block.
    &[data-lang]::before {
      position: absolute;
      top: 0.3em;
      right: 1em;
      // Show above code block.
      z-index: 2;

      content: attr(data-lang);
      text-transform: uppercase;

      font-size: 0.7em;
      color: #ff7a18;
    }
  }

  .copy-code-button {
    // The frame of reference here is the outer "pre" element because it has a position other than static.
    // See: https://stackoverflow.com/a/46318225/614177
    position: absolute;
    top: 0.1em;
    right: 0.2em;
    // Show above code block and language text.
    z-index: 3;

    margin: 0;
    padding: 4px 6px;

    // The next 3 lines create a "fade out" animation.
    // See also: https://stackoverflow.com/a/20910008/614177
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.35s, opacity 0.35s;

    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;

    color: #ccc;
    background-color: rgba($code-block-background-color, 0.8);
    border-radius: $block-border-radius;

    border: 0;

    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
      color: white;
    }
  }
}

> pre, .highlight {
  margin: 1em 0;
}

pre:hover .copy-code-button {
    // The next 3 lines create a "fade in" animation.
    // See also: https://stackoverflow.com/a/20910008/614177
    visibility: visible;
    opacity: 1;
    transition: opacity 0.35s;
}
