{{- $jsBuildOptions := newScratch -}}
{{- /*
  NOTE: We do not minify the output here. Minifying it decreases its size from 272kb to 94kb but the output becomes unreadable.
  NOTE 2: Do NOT set "sourceMap" to "internal" or it will increase the .js size from 272kb to 940kb.
*/ -}}
{{- $jsBuildOptions.Set "sourceMap" "external" -}}
{{- with resources.Get . | js.Build $jsBuildOptions.Values | fingerprint -}}
<!-- IMPORTANT: We can't use "defer" here because we need to execute one of the methods before the page is rendered (see script tag below). -->
<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{- end -}}
