<div class="page-meta">
  <div class="primary-meta">

    <span>
      <i class="fa-regular fa-calendar"></i>
      {{ .Page.Date.Format site.Params.date_format }}
    </span>

    <span aria-label="{{ .FuzzyWordCount }} words" data-tooltip-dir="top">
      <i class="fa-regular fa-clock"></i>
      {{ .Page.ReadingTime }} min read
    </span>

    {{- with .Page.Params.tags }}
    <span>
      {{- range (sort .) -}}
        {{ with site.GetPage (printf "/%s/%s" "tags" . ) }}
          {{ partial "term.html" ( dict "Link" .RelPermalink "Name" .Title "Taxonomy" "Tag" ) }}
        {{- end }}
      {{- end }}
    </span>
    {{- end }}

  </div>

  {{- $gitRepoUrl := .Page.Scratch.Get "git-repo-url" -}}
  {{- $gitBranch := .Page.Scratch.Get "git-branch" -}}
  {{ if and $gitRepoUrl $gitBranch .IsSinglePage }}
  <div class="secondary-meta">

    {{- $parsedGitRepoUrl := urls.Parse $gitRepoUrl -}}
    {{- if hasSuffix (lower $parsedGitRepoUrl.Hostname) "github.com" -}}
    <span class="git-meta hide-in-print">
      <i class="fa-brands fa-github"></i>
      <!-- IMPORTANT: For the "sha256" calculation below, this must be without(!) leading "/"!!! -->
      {{- $relativePagePath := (print "content/" (path.Clean .Page.File.Path)) -}}
      <a href="{{ $gitRepoUrl }}/blob/{{ $gitBranch }}/{{ $relativePagePath }}" target="_blank">Source</a>

      <nav class="popup-menu auto-close">
        <!-- NOTE: This must be a label so that clicking it toggles the checkbox. -->
        <label class="menu-header" for="git-meta-menu-state">⋮</label>
        <input type="checkbox" class="menu-state" id="git-meta-menu-state" />

        <ul class="menu-items">
          <li>
            <a href="{{ $gitRepoUrl }}/commits/{{ $gitBranch }}/{{ $relativePagePath }}" target="_blank">
              Page History
            </a>
          </li>
          <li>
            <a href="{{ $gitRepoUrl }}/commit/{{ .Page.GitInfo.Hash }}#diff-{{ sha256 $relativePagePath }}" target="_blank">
              Latest Commit
            </a>
          </li>
        </ul>
      </nav>
    </span>
    {{- end -}}

  </div>
  {{ end }}
</div>
