<a class="term" href="{{ partial "permalink-rel.html" .Term }}">
  {{- if (.Term.Params.brand | default false) -}}
    {{- /* Use brand icon instead of tag icon. */ -}}
    {{- if eq .Term.Params.brand true -}}
      {{- /* Use term name (but not its title) as brand name. */ -}}
      <i class="tag-icon fa-brands fa-{{ lower .Term.Name }}"></i>
    {{- else -}}
      {{- /* Use value of "brand" frontmatter as brand name. */ -}}
      <i class="tag-icon fa-brands fa-{{ .Term.Params.brand }}"></i>
    {{- end -}}
  {{- else -}}
    <i class="tag-icon fa-solid fa-tag"></i>
  {{- end -}}
  <span class="name{{ if .WithTermCount }} with-count{{ end }}">{{ partial "term-name.html" .Term.Title }}</span>
  {{- if .WithTermCount -}}
  <span class="count">{{ len .Term.Pages }}</span>
  {{- end -}}
</a>
